
<div class="bg d-flex justify-content-center align-items-center">
  <div
    class="monteserat-light card border-warning mb-3 m-2"
    style="max-width: 18rem"
  >
    <div class="card-header text-uppercase">Project</div>
    <div class="card-body">
      <h5 class="card-title">Create a project</h5>
      <p class="card-text">Create your project with multiple feactures</p>
      <button class="btn btn-success"><a class="text-decoration-none text-white" href="projects/home">CREATE</a></button>
    </div>
  </div>
  <div
    class="monteserat-light card border-warning mb-3 m-2"
    style="max-width: 18rem"
  >
    <div class="card-header text-uppercase">Project Task</div>
    <div class="card-body">
      <h5 class="card-title">Create project tasks</h5>
      <p class="card-text">Assign tasks the the resources of the project</p>
      <button class="btn btn-success"><a class="text-decoration-none text-white" href="tasks/task-menu">CREATE</a></button>
    </div>
  </div>
</div>
