<div class="nav d-flex justify-content-between align-items-center bg">
  <div class="logo-container">
    <img [src]="logo" alt="Logo" class="logo">
  </div>
  <div>
    <a
      *ngFor="let nav of navbar"
      [routerLink]="nav.route"
      class="monteserat-light text-uppercase text-decoration-none text-white mx-4 fs-5"
    >{{ nav.label }}</a>
  </div>
  <div><a [routerLink]="['/authebtication/login']" class="mx-2">
      <button class="monteserat-bold text-uppercase">Login</button>
      <button class="monteserat-bold text-uppercase mx-2">ADMIN</button>
    </a>
    <button (click)="logout()" class="monteserat-bold text-uppercase">
      Logout
    </button>
  </div>
</div>
