<aside class="sidebar">
  <ul class="sidebar-nav mt-5">
    <li class="nav-item">
      <a class="nav-link text-white text-uppercase" href="/dashboard/pending-tasks">Pending Tasks</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white text-uppercase" routerLink="dashboard/priorotize-component">Prioritise Tasks</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white text-uppercase" href="dashboard/completed-tasks">Completed Tasks</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white text-uppercase" href="dashboard/workload">Progress Chart</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white text-uppercase" href="dashboard/progress-calender">Progress Calendar</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white text-uppercase" href="dashboard/work-load">Work Load</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white text-uppercase" href="dashboard/employee-performance">Employee Performance</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white text-uppercase" href="/dashboard/announcement-pannel">Announcement</a>
    </li>
  </ul>
</aside>
