
<div class="bg d-flex justify-content-center align-items-center">
  <div
    class="monteserat-light card border-warning mb-3 m-2"
    style="max-width: 18rem"
  >
    <div class="card-header text-uppercase"> Create Project</div>
    <div class="card-body">
      <h5 class="card-title">Create a project</h5>
      <p class="card-text">Create your project with multiple feactures</p>
      <button class="btn btn-success"><a class="text-decoration-none text-white" href="projects/create-project">CREATE</a></button>
    </div>
  </div>
  <div
    class="monteserat-light card border-warning mb-3 m-2"
    style="max-width: 18rem"
  >
    <div class="card-header text-uppercase">Display Project</div>
    <div class="card-body">
      <h5 class="card-title">Dislays Projects</h5>
      <p class="card-text">Update, edit and delete projects</p>
      <button class="btn btn-success"><a class="text-decoration-none text-white" href="projects/display-projects">SHOW</a></button>
    </div>
  </div>
</div>
